extends ../layout

block content
  .container
    ul.archive
    - var lastYear=0
      - posts.forEach(function(post,index){
        - if(lastYear != post.time.year){
            li
              h3 #{post.time.year}
          - lastYear=post.time.year}
            li.small #{post.time.day}
              span &nbsp;
              a(href="/u/#{post.name}/#{post.time.day}/#{post.title}") #{post.title}
      - })
    .span(style="padding-bottom:100px;") 